<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.mapper.CapRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zm.model.CapRole">
        <id column="ROLE_ID" property="roleId" />
        <result column="TENANT_ID" property="tenantId" />
        <result column="ROLE_CODE" property="roleCode" />
        <result column="ROLE_NAME" property="roleName" />
        <result column="ROLE_DESC" property="roleDesc" />
        <result column="CREATEUSER" property="createuser" />
        <result column="CREATETIME" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ROLE_ID AS roleId, TENANT_ID AS tenantId, ROLE_CODE AS roleCode, ROLE_NAME AS roleName, ROLE_DESC AS roleDesc, CREATEUSER AS createuser, CREATETIME AS createtime
    </sql>

</mapper>
