<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.mapper.CompIpAccessRulesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zm.model.CompIpAccessRules">
        <id column="RULES_ID" property="rulesId" />
        <result column="START_IP" property="startIp" />
        <result column="END_IP" property="endIp" />
        <result column="RULES_TYPE" property="rulesType" />
        <result column="REMARK" property="remark" />
        <result column="MAKERS_ID" property="makersId" />
        <result column="ADD_DATE" property="addDate" />
        <result column="ENABLED" property="enabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        RULES_ID AS rulesId, START_IP AS startIp, END_IP AS endIp, RULES_TYPE AS rulesType, REMARK AS remark, MAKERS_ID AS makersId, ADD_DATE AS addDate, ENABLED AS enabled
    </sql>

</mapper>
