<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.mapper.CompFileuploadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zm.model.CompFileupload">
        <id column="FILEID" property="fileid" />
        <result column="FILENAME" property="filename" />
        <result column="FILEDATA" property="filedata" />
        <result column="FILEPATH" property="filepath" />
        <result column="UPLOADUSER" property="uploaduser" />
        <result column="UPLOADTIME" property="uploadtime" />
        <result column="SAVETYPE" property="savetype" />
        <result column="CONTENTTYPE" property="contenttype" />
        <result column="CLIENTFILENAME" property="clientfilename" />
        <result column="CLIENTPATH" property="clientpath" />
        <result column="NAME" property="name" />
        <result column="FILE_SIZE" property="fileSize" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FILEID AS fileid, FILENAME AS filename, FILEDATA AS filedata, FILEPATH AS filepath, UPLOADUSER AS uploaduser, UPLOADTIME AS uploadtime, SAVETYPE AS savetype, CONTENTTYPE AS contenttype, CLIENTFILENAME AS clientfilename, CLIENTPATH AS clientpath, NAME AS name, FILE_SIZE AS fileSize
    </sql>

</mapper>
