<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.mapper.WfbizOperationInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zm.model.WfbizOperationInfo">
        <id column="BUSIOPTUUID" property="busioptuuid" />
        <result column="BUSIOPTNAME" property="busioptname" />
        <result column="CATALOGUUID" property="cataloguuid" />
        <result column="BUSIOPTIMPL" property="busioptimpl" />
        <result column="BUSIOPTTYPE" property="busiopttype" />
        <result column="BUSIOPTSCOPE" property="busioptscope" />
        <result column="MARK" property="mark" />
        <result column="MDFSTATE" property="mdfstate" />
        <result column="UPTTIME" property="upttime" />
        <result column="TENANT_ID" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BUSIOPTUUID AS busioptuuid, BUSIOPTNAME AS busioptname, CATALOGUUID AS cataloguuid, BUSIOPTIMPL AS busioptimpl, BUSIOPTTYPE AS busiopttype, BUSIOPTSCOPE AS busioptscope, MARK AS mark, MDFSTATE AS mdfstate, UPTTIME AS upttime, TENANT_ID AS tenantId
    </sql>

</mapper>
