<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.mapper.WfmultitenancyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zm.model.Wfmultitenancy">
        <id column="TENANT_ID" property="tenantId" />
        <result column="TENANTNAME" property="tenantname" />
        <result column="ORGANIZATIONCLASS" property="organizationclass" />
        <result column="PERMISSIONCLASS" property="permissionclass" />
        <result column="ADMINNAME" property="adminname" />
        <result column="ADMINPWD" property="adminpwd" />
        <result column="CREATETIME" property="createtime" />
        <result column="UPDATETIME" property="updatetime" />
        <result column="TOKEN" property="token" />
        <result column="BINDDATASOURCEFLAG" property="binddatasourceflag" />
        <result column="DATASOURCE" property="datasource" />
        <result column="EXTEND1" property="extend1" />
        <result column="EXTEND2" property="extend2" />
        <result column="EXTEND3" property="extend3" />
        <result column="EXTEND4" property="extend4" />
        <result column="EXTEND5" property="extend5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TENANT_ID AS tenantId, TENANTNAME AS tenantname, ORGANIZATIONCLASS AS organizationclass, PERMISSIONCLASS AS permissionclass, ADMINNAME AS adminname, ADMINPWD AS adminpwd, CREATETIME AS createtime, UPDATETIME AS updatetime, TOKEN AS token, BINDDATASOURCEFLAG AS binddatasourceflag, DATASOURCE AS datasource, EXTEND1 AS extend1, EXTEND2 AS extend2, EXTEND3 AS extend3, EXTEND4 AS extend4, EXTEND5 AS extend5
    </sql>

</mapper>
