<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.mapper.WfprocessinstMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zm.model.Wfprocessinst">
        <id column="PROCESSINSTID" property="processinstid" />
        <result column="PROCESSINSTNAME" property="processinstname" />
        <result column="PROCESSINSTDESC" property="processinstdesc" />
        <result column="CREATOR" property="creator" />
        <result column="OWNER" property="owner" />
        <result column="CURRENTSTATE" property="currentstate" />
        <result column="PRIORITY" property="priority" />
        <result column="RELATEDATA" property="relatedata" />
        <result column="RELATEDATAVCHR" property="relatedatavchr" />
        <result column="LIMITNUM" property="limitnum" />
        <result column="LIMITNUMDESC" property="limitnumdesc" />
        <result column="CREATETIME" property="createtime" />
        <result column="STARTTIME" property="starttime" />
        <result column="ENDTIME" property="endtime" />
        <result column="FINALTIME" property="finaltime" />
        <result column="REMINDTIME" property="remindtime" />
        <result column="PARENTPROCID" property="parentprocid" />
        <result column="PARENTACTID" property="parentactid" />
        <result column="PROCESSDEFID" property="processdefid" />
        <result column="ISTIMEOUT" property="istimeout" />
        <result column="TIMEOUTNUM" property="timeoutnum" />
        <result column="TIMEOUTNUMDESC" property="timeoutnumdesc" />
        <result column="UPDATEVERSION" property="updateversion" />
        <result column="PROCESSDEFNAME" property="processdefname" />
        <result column="EXTEND1" property="extend1" />
        <result column="EXTEND2" property="extend2" />
        <result column="EXTEND3" property="extend3" />
        <result column="EXTEND4" property="extend4" />
        <result column="EXTEND5" property="extend5" />
        <result column="EXTEND6" property="extend6" />
        <result column="EXTEND7" property="extend7" />
        <result column="CATALOGUUID" property="cataloguuid" />
        <result column="CATALOGNAME" property="catalogname" />
        <result column="TENANT_ID" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PROCESSINSTID AS processinstid, PROCESSINSTNAME AS processinstname, PROCESSINSTDESC AS processinstdesc, CREATOR AS creator, OWNER AS owner, CURRENTSTATE AS currentstate, PRIORITY AS priority, RELATEDATA AS relatedata, RELATEDATAVCHR AS relatedatavchr, LIMITNUM AS limitnum, LIMITNUMDESC AS limitnumdesc, CREATETIME AS createtime, STARTTIME AS starttime, ENDTIME AS endtime, FINALTIME AS finaltime, REMINDTIME AS remindtime, PARENTPROCID AS parentprocid, PARENTACTID AS parentactid, PROCESSDEFID AS processdefid, ISTIMEOUT AS istimeout, TIMEOUTNUM AS timeoutnum, TIMEOUTNUMDESC AS timeoutnumdesc, UPDATEVERSION AS updateversion, PROCESSDEFNAME AS processdefname, EXTEND1 AS extend1, EXTEND2 AS extend2, EXTEND3 AS extend3, EXTEND4 AS extend4, EXTEND5 AS extend5, EXTEND6 AS extend6, EXTEND7 AS extend7, CATALOGUUID AS cataloguuid, CATALOGNAME AS catalogname, TENANT_ID AS tenantId
    </sql>

</mapper>
