<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.mapper.WfprocstarterauthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zm.model.Wfprocstarterauth">
        <id column="uniqueID" property="uniqueID" />
        <result column="processDefID" property="processDefID" />
        <result column="processDefName" property="processDefName" />
        <result column="processChName" property="processChName" />
        <result column="versionSign" property="versionSign" />
        <result column="globalID" property="globalID" />
        <result column="catalogUUID" property="catalogUUID" />
        <result column="catalogName" property="catalogName" />
        <result column="tenant_id" property="tenantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uniqueID, processDefID, processDefName, processChName, versionSign, globalID, catalogUUID, catalogName, tenant_id AS tenantId
    </sql>

</mapper>
